.button {
    display: flex;
    width: 69px;
    height: 22;
    padding: 1px 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    margin-bottom: 2px;
  }
.Submit{
    background: var(--selected, #0059A1);
    color: white;
}

.Profile{
    background: var(--selected, #219653);
    color: white;
}
.button:hover{
    color: white;
    transform:scale(1.05);
    transition: ease-in-out 150ms;
}