/* Imprimer button style */
.ImprimerBtn {
  position: fixed;
  bottom: 20px; /* Adjust the bottom position as needed */
  right: 20px; /* Adjust the right position as needed */
  z-index: 5; /* Adjust the z-index as needed */
  background-color: #00bfa6;
  padding: 14px 40px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #00bfa6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}
.ImprimerBtn:hover {
  transition: 0.4s;
  border: 2px dashed #00bfa6;
  background-color: #fff;
  color: #00bfa6;
}
.ImprimerBtn:active {
  background-color: #87dbd0;
}

/* Reset margins and padding for printing */
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  @page {
    margin: 10px;
  }
}

/* Styles for hiding elements not needed in print */
@media print {
  body * {
    visibility: hidden;
  }
  .printablediv,
  .printablediv * {
    visibility: visible;
  }
  .do-not-print {
    display: none !important;
  }
}

/* Avoid page breaks inside and before table rows */
@media print {
  tr {
    page-break-inside: avoid;
    page-break-before: auto;
  }
}

/* Optional: Adjust styles for better printing */
@media print {
  h2 {
    width: fit-content;
    margin-top: -50px;
    color: red !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    page-break-inside: auto;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    page-break-inside: avoid;
  }
  th {
    background-color: #f2f2f2;
  }
  /* Ensure the table header is repeated on each page */
  thead {
    display: table-header-group;
  }
}
