.ProfileCard {
  background-color: #0059A1;
}
.btnActive {
  background-color: #0059A1;
  color: aliceblue;
}
.btnActive:hover {
  background-color: #0059A1;
  color: aliceblue;
}
.btnInactive:hover {
  color: rgba(240, 248, 255, 0.879);
}
.Note {
  background-color: rgba(217, 217, 217, 0.20);
}

.NoJustifier {
  background-color: #E53F1F;
}

.Justifier {
  background-color: #219653E5;
}
.HrDistance{
  filter: opacity(0.5);
  font-size: 0.6em !important;
}