
:root {
    --primary-color: #f90a39;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}


.search-results {
    /* max-width: 400px; */
    max-height: 300px; /* Set maximum height for the scrollable results */
    overflow-y: auto; /* Enable vertical scrolling if results exceed the maximum height */
    position: absolute;
    width: 350px;
    top: 50px;
    left: 25px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hide the results */
    z-index: 100;
}

.search-results a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ccc; /* Add a border between results */
}
.search-results a:hover {
    background-color: #0058a1c9;
    color: white;
}
.search-results p {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #df1d1d;
    
}
.input-groupC {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 400px;
    min-width: 0;
    display: flex;
    flex-wrap: nowrap;
}