.filieres-adjst {
  width: 90%;
  margin-left: 10%;
}

.filiere-classes {
  text-align: left;
}

.filiere-classes li {
  display: inline-block;
  margin: 0.5rem 0.5rem;
}

.rotated > svg {
  fill: white;
  transform: rotate(180deg);
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
  background-color: #143aa2;
  border: 0;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover {
  background-color: #e5eaef;
  color: #000;
  border: 0;
  
}
