@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
    --primary-color: #f90a39;
    --text-color: #1d1d1d;
    --bg-color: #f1f1fb;
}

* {
    font-family: "Poppins", sans-serif;
}


.calendar {
    max-width: 600px;
    background: var(--bg-color);
    padding: 30px 20px;
    border-radius: 10px;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
}

.calendar .header .btns {
    display: flex;
    gap: 10px;
}

.calendar .header .btns .btn {
    width: 40px;
    height: 30px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.calendar .header .btns .btn:hover {
    background: #db0933;
    transform: scale(1.05);
}

.calendar .weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.calendar .weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.calendar .days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.calendar .days .day {
    width: calc(100% / 7 - 10px);
    height: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    transition: all 0.3s;
    user-select: none;
}

.calendar .days .day:not(.next):not(.prev):hover {
    color: #fff;
    background: var(--primary-color);
    transform: scale(1.05);
}

.calendar .days .day.next,
.calendar .days .day.prev {
    color: #ccc;
}

.calendar .days .day.today {
    color: #fff;
    background: var(--primary-color);
}

.credits a {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #aaa;
}

.credits span {
    color: var(--primary-color);
}